<h3>Enter Your Question Here:</h3>
<br />
<form >
 <label>
    Question:
    <input type="text" ng-model="controller.question.question" />
</label>
<button type="submit">Add Question</button>
</form>
<br />
<h3>Answers</h3>
<!-- Say if no answers display no available answers
    <div ng-repeat="a in controller.question">{{a.answers}}
</div>-->
<br />
<h3>More Questions</h3>
<li ng-repeat="n in controller.question">
        {{n.name}}
        <br />
       Question:{{n.question}}
        <br />
        Answers:
        <ol ng-repeat="n in controller.question.answers">
            {{n.name}}

            {{n.answer}}
        </ol>
        
        <form ng-submit="controller.question">
            <input ng-model="controller.question.answer" />
            <button type="submit">Submit</button>
        </form>
</li>
